@media (max-width: 770px){
	.containerImg{
		max-width: 300px;
	}
}


@media (max-width: 550px){
	.flowerNav{
		display: block;
	}
	.nav{
		opacity: 0;
		transition: opacity .7s linear;
		position: fixed;
		top:0;
		left: -1000px;
	}
	.activNav{
		opacity:1;		
	    top: 55.4px;
	    left: 0px;
	    z-index: 3000;
	    height: 100vh;
		width: 100%; 
    	display: flex;
    	flex-direction: column;

	}
	.activNav li:not(.navLink){
		text-align: center;
		border-bottom: 1px solid rgb(64,224,208);
		background-color: rgb(64,224,208);
	}
	.activNav li:not(.navLink) button{
		width: 70%;
		border-bottom: 1px solid white;
		color:white;
		background-color: rgb(64,224,208);	
	}
	.activNav li:last-child:not(.navLink){
	    padding-bottom: 3rem;
	}
	.activNav li button{
		 padding:1rem;
	}
	.activNav li button:hover,
	.activNav li button:focus{
		color:black;
	}

	header{
		justify-content: space-around;

	}
	.containerImg{
		max-width: 250px;
	}
	.galleryButton img{
		min-height: 0;
	}
	.containerHome{
		max-width: 90%;
	}
	.containerImg span h3{
		font-size: 1.4rem;
	}
	.text{
		font-size: .9rem;
    	line-height: 1.6rem;
	}
	.boldText{
		font-size: 1.2rem;
	}
}